<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Malaria Detector using ResNet34</title>

  <!-- Custom fonts for this theme -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="static/css/freelancer.min.css" rel="stylesheet">
  <link href="static/css/upload.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>



    {% if show_modal %}
    <script>
        $(document).ready(function(){
            $("#predictionModal").modal();
        });
    </script>
    {% endif %}

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">MD-RN34</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#home">Home</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>



  <!-- Heading Section -->
  <section class="masthead  page-section portfolio" id="home">
    <div class="container">

      <!-- Section Heading -->
      <h2 class="page-section-heading text-center text-secondary mb-0">Malaria Detector using ResNet34</h2>

      <!-- Icon Divider -->
      <div class="divider-custom ">
        <div class="divider-custom-line"></div>
      </div> <br><br><br>

      <!-- Portfolio Grid Items -->
      <div class="container text-center" >
        <p><b>Browse Blood Smear Image & Click Predict Button</b></p>
        <!-- UPLOAD FILE -->  
        <form  action="/" method="POST" enctype="multipart/form-data">

           <input type = "file" name = "file" />
            <br><br>
            {% if err %}
                <div class="container">
                    <div class="row">
                    <div class="col-md-4"></div>
                    <div class="alert alert-danger col-md-4  align-items-center alert-dismissible fade show" role="alert" >
                        Please select file before submit!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                    </div>
                    </div>
            {% endif %}

         <button type="submit" class="btn btn-primary btn-lg" id="predictBtn">Predict</button>
        </form>
{#          <br><br>#}
{#          <img src="{{ result_image }}">#}
{#          <h4>#}
{#              {{result_accuracy}} {{result_class}}#}
{#          </h4>#}
{##}
{#         <button type="button"#}
{#                    class="btn btn-primary btn-lg"#}
{#                    data-toggle="modal"#}
{#                    data-target="#predictionModal">#}
{#             hasil#}
{#         </button>#}
      </div>

       
      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-white">About Malaria Detector</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">

        <div class="divider-custom-line "></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-12 ml-auto">
          <p class="lead text-center">
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
          </p>
        </div>
      </div>

    </div>
  </section>

 <!--  Predict Modal  -->

 <div class="portfolio-modal modal fade" id="predictionModal" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Prediction Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary mb-0">Prediction Result</h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
              </div>
              <br>
              <!-- Prediction Modal - Image -->
              <img class="img-fluid rounded mb-5" style="color: red;" src="{{ result_image }}" alt="">

              <!-- Prediction Modal - Text -->
              <h4 class="text-secondary mb-0">{{ result_accuracy }} {{ result_class }}</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Footer Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; MD-RN34 2020</small>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>


  <!-- Custom scripts for this template -->
  <script src="static/js/freelancer.min.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/js/upload.js"></script>


</body>

</html>
