<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Malaria Detector using ResNet34</title>

  <!-- Custom fonts for this theme -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="static/css/freelancer.min.css" rel="stylesheet">
  <link href="static/css/upload.css" rel="stylesheet">

  <script src="static/js/jquery-3.5.1.js"></script>


  <!--  Modal Prediction Result akan otomatis ditampilkan
        jika hasil prediksi & parameter show_modal bernilai True -->

   {% if show_modal %}
    <script>
        $(document).ready(function(){
            $("#predictionModal").modal();
        });
    </script>
   {% endif %}


</head>

<body id="page-top">

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">MD-RN34</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#home">Home</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Prediction Section -->
  <section class="masthead  page-section portfolio" id="home">
    <div class="container">

      <!-- Section Heading -->
      <h2 class="page-section-heading text-center text-secondary mb-0">
          Malaria Detector using ResNet34
      </h2>

      <!-- Icon Divider -->
      <div class="divider-custom ">
        <div class="divider-custom-line"></div>
      </div> <br><br><br>

      <!-- Grid Items -->
      <div class="container text-center" >
        <p><b>Browse Blood Smear Image & Click Predict Button</b></p>
        <!-- Form Upload File  -->
        <form  action="/" method="POST" enctype="multipart/form-data">
           <input type = "file" name = "file" />
            <br><br>
        <!--
        Jika file tidak terpilih maka akan muncul error alert
        -->
            {% if err %}
                <div class="container">
                    <div class="row">
                    <div class="col-md-4"></div>
                    <div class="alert alert-danger col-md-4  align-items-center alert-dismissible fade show" role="alert" >
                        Please select file before submit!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                    </div>
                    </div>
            {% endif %}

         <button type="submit" class="btn btn-primary btn-lg" id="predictBtn">Predict</button>
        </form>
      </div>

      </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-white">About Malaria Detector</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">

        <div class="divider-custom-line "></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-md-12 ml-auto">
        <!-- Penjelasan tentang penyakit malaria dan keadaan di Indonesia-->
          <p class="lead ">
            Penyakit malaria merupakan penyakit yang disebabkan oleh parasit <I>Plasmodium</I>
            yang berasal dari gigitan nyamuk yang masuk ke dalam
            tubuh manusia dan menyerang sel darah merah manusia
            yang bisa menyebabkan kematian jika tidak cepat ditangani oleh medis.

            Di Indonesia, jumlah penderita malaria semakin menurun dari tahun ke tahun,
            akan tetapi di beberapa wilayah Timur Indonesia seperti Papua, Papua Barat, dan NTT
            masih tergolong rawan terkena penyakit malaria.

            Pemeriksaan medis yang dilakukan untuk mendiagnosa penyakit malaria yaitu
            melalui pemeriksaan sel darah penderita di bawah mikroskop untuk mendeteksi parasit malaria.
          </p>

         <!-- 2. Tujuan prmbuatan website -->
          <p class="lead ">
          Tujuan pembuatan website ini yaitu sebagai alternatif untuk melakukan
          diagnosa penyakit malaria secara cepat dan akurat
          menggunakan citra sel darah penderita yang telah ditangkap menggunakan
          kamera ponsel cerdas berbasis Android yang dilengkapi dengan optik mikroskop maupun perangkat mikroskop digital.
          </p>

        <!-- 3. Detail algoritma ResNet34 serta hasil pelatihan model yang dipakai di website -->
          <p class="lead ">
            Cara pendiagnosaan penyakit malaria yang digunakan dalam website ini yaitu menggunakan
            algoritma Deep Learning menggunakan arsitektur Residual Neural Networks dengan 34 <i>layer</i>
            yang telah dilatih menggunakan dataset citra sel darah merah malaria yang telah dikumpulkan oleh peneliti dari
            Lister Hill National Center for Biomedical Communications (LHNCBC) yang merupakan bagian dari
            National Library of Medicine (NLM) Amerika Serikat.
          </p>

          
        </div>
      </div>

    </div>
  </section>

 <!--  Prediction Result Modal  -->
 <div class="portfolio-modal modal fade" id="predictionModal" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Prediction Modal - Title -->
              <h2 class="portfolio-modal-title text-secondary mb-0">Prediction Result</h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
              </div>
              <br>
              <!-- Prediction Modal - Image -->
              <img class="img-fluid rounded mb-5" style="color: #ff0000;" src="{{ result_image }}" height="200" width="200" alt="Prediction Image">

              <!-- Prediction Modal - Text -->
              <h5 class="text-secondary mb-0">Score : {{ result_accuracy }} {{ result_class }}</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Footer Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small> Malaria Detection ResNet34 @ 2020</small>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/freelancer.min.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/js/upload.js"></script>


</body>

</html>
